body{
    background-color: #F3F4F6 !important;
    font-family: 'Inter', sans-serif !important;
}

/*MENU NAVEGAÇÃO*/

.navbar{
    background-color: #FFF;
}

/*OFFCANVAS*/

.btn-sidebar{
    margin-right: 15px;
    border-radius: 0.5rem;
}
.btn-sidebar span{
    padding: 5px;
    font-size: 35px;

}
.offcanvas{
    background-color: #424250 !important;
}
.offcanvas-header{
    background-color: #FFF;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;

}
.offcanvas-header a, img{
    margin: 0 auto; 
}
ul a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFF;
    display: flex; /* Tornar os links flexíveis para alinhar ícones e texto */
    align-items: center; /* Alinhar verticalmente ícones e texto */
}
ul a:hover{
    color: #b8b8b8;
}
.list-offcanvas li{
    margin: 12px;
}
.list-offcanvas span{
    padding: 0 10px;
}
.sublist-offcanvas li{
    margin: 5px;
}

/*CONTENT*/
.content{
    margin: 80px 40px;
}
.content h2{
    font-weight: 800;
    margin: 20px 10px;
}

/*FORMS*/
.card-header{
    background-color: #424250 !important;
    color: #FFF !important;
    font-weight: 500;
    font-size: 18px;
}
.btn-submit{
    background-color: #0D6EFD;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.3em;
    font-weight: 600;
    color: #FFF;
}
.btn-add{
    margin: 0 10px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.3em;
    padding: 10px;
    color: #000;
   
}
.btn-add span{
    padding: 0 5px;
    margin: 0;
    vertical-align: middle;
}
.row-form{
    margin-bottom: 15px;
}
.row-form-destacar{
    padding: 15px;
    border-radius: 10px;
    background-color: #EDEDED;
}

/*TABLE RESULTADOS*/
.card{
    margin-bottom: 20px;
}
.card-footer p {
    padding: 0;
    margin: 0;
}
.card-saldo {
    margin: 10px 30px;
    font-size: 18px;
}
#saldo{
    font-size: 18px;
    font-weight: 800;
    border-width: 1px 1px 1px 0px;
    border-color: #8f8f8f;
    border-radius: 6px;
    border-style: solid;
    padding: 5px;
}
.btn-acao-listagem{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #0D6EFD;
    border-radius: 0.3em;
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn-acao-listagem-danger{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(248, 66, 66);
    border-radius: 0.3em;
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-right: 5px;
}
.btn-acao-listagem-secundary{
    text-decoration: none;
    background-color: rgb(255, 168, 7);
    border-color: rgba(27, 31, 35, 0.15);
    border-width: 1px;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.3em;
    color: #fff;
    margin-right: 5px;
}
.empresa-span{
    background-color: #38b44d;
    padding: 5px;
    color: #FFFF;
    font-size: 11px;
    border-radius: 1em;
    margin-left: 20px;
}
.resultados-table th{
    font-weight: 300 !important;
    padding: 15px !important;
    font-size: 15px;
}
.parcela_paga th{
    background-color: #8cd0fd !important;
}
.parcela_atrasada th{
    background-color: #ff9084 !important;
}
.id_table{
    font-size: 14px;
}
.card-info{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 1em;
    margin: 15px;
}
.card-info h4{
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}
.card-info p{
    display: flex;
    align-items: center;
    justify-content: center; /* Adicione esta linha */
    text-align: center;
}
.card-info span{
    padding-right: 5px;
}
.accordion-body{
    text-align: left;
}
.accordion-body p {
    padding: 0;
    margin: 0;
}
.resultado-icone{
    display: flex; /* Usar flexbox para centralizar verticalmente e horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    text-align: center; /* Centralizar o texto */
}
.resultado-icone span{
    color: #424250;
    margin-right: 5px;
}

/*CALENDARIO*/

/* Estilize os nomes dos dias da semana */
.fc-col-header-cell-cushion {
    text-transform: uppercase !important; /* Transforma os nomes dos dias em maiúsculas */
    font-weight: bold; 
    color: #FFFF;
    font-style: none;
    background-color: #424250;
    width: 100% ;
    text-decoration: none;
}
.fc-daygrid-day-number{
    color: #000;
    font-style: none;
    text-decoration: none;
}
.modal-body p{
    display: flex; /* Usar flexbox para centralizar verticalmente e horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    padding: 0;
}
.modal-body span{
    width: 10px;
    padding: 0 40px;
    color: #0D6EFD;
}
#data_vencimento_modal{
    font-weight: 700;
}

/*DASHBOARD*/
.graficoDashboard{
    background-color: #FFF;
    width: 500px;
}


