body{
    background-color: #F3F4F6 !important;
    font-family: 'Inter', sans-serif !important;
}

/*MENU NAVEGAÇÃO*/

.navbar{
    background-color: #FFF;
}

/*OFFCANVAS*/

.btn-sidebar{
    margin-right: 15px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn-sidebar span{
    padding: 5px;
}
.offcanvas{
    background-color: #424250 !important;
}
.offcanvas-header{
    background-color: #FFF;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;

}
.offcanvas-header a, img{
    margin: 0 auto; 
}
ul a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFF;
    display: flex; /* Tornar os links flexíveis para alinhar ícones e texto */
    align-items: center; /* Alinhar verticalmente ícones e texto */
}
.list-offcanvas li{
    margin: 12px;
}
.list-offcanvas span{
    padding: 0 10px;
}
.sublist-offcanvas li{
    margin: 5px;
}

/*CONTENT*/
.content{
    margin: 20px 40px;
}
.content h2{
    font-weight: 800;
    margin: 20px 10px;
}

/*FORMS*/
.card-header{
    background-color: #424250 !important;
    color: #FFF !important;
    font-weight: 500;
    font-size: 18px;
}
.btn-submit{
    background-color: #0D6EFD;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.3em;
    font-weight: 600;
    color: #FFF;
}
.btn-add{
    margin: 0 10px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.3em;
    padding: 10px;
    color: #000;
}
.btn-add span{
    padding: 0 5px;
    margin: 0;
    vertical-align: middle;
}

/*TABLE RESULTADOS*/
.card{
    margin-bottom: 20px;
}